[submodule "sites/all/modules/captcha"]
	path = sites/all/modules/captcha
	url = ./sites/all/modules/captcha
[submodule "sites/all/modules/customerror"]
	path = sites/all/modules/customerror
	url = ./sites/all/modules/customerror
[submodule "sites/all/modules/disablepwstrength"]
	path = sites/all/modules/disablepwstrength
	url = ./sites/all/modules/disablepwstrength
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = ./sites/all/modules/entity
[submodule "sites/all/modules/flag"]
	path = sites/all/modules/flag
	url = ./sites/all/modules/flag
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = ./sites/all/modules/google_analytics
[submodule "sites/all/modules/nodequeue"]
	path = sites/all/modules/nodequeue
	url = ./sites/all/modules/nodequeue
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = ./sites/all/modules/panels
[submodule "sites/all/modules/recaptcha"]
	path = sites/all/modules/recaptcha
	url = ./sites/all/modules/recaptcha
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = ./sites/all/modules/ctools
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = ./sites/all/modules/pathauto
[submodule "sites/all/modules/rules"]
	path = sites/all/modules/rules
	url = ./sites/all/modules/rules
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = ./sites/all/modules/token
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = ./sites/all/modules/views
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = ./sites/all/modules/features
[submodule "sites/all/modules/redirect"]
	path = sites/all/modules/redirect
	url = ./sites/all/modules/redirect
[submodule "sites/all/modules/views_php"]
	path = sites/all/modules/views_php
	url = ./sites/all/modules/views_php
[submodule "sites/all/modules/references"]
	path = sites/all/modules/references
	url = ./sites/all/modules/references
[submodule "sites/all/modules/decounter"]
	path = sites/all/modules/decounter
	url = ./sites/all/modules/decounter
[submodule "sites/all/modules/auto_nodetitle"]
	path = sites/all/modules/auto_nodetitle
	url = ./sites/all/modules/auto_nodetitle
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = ./sites/all/modules/git_deploy
