body, #wrapper {
  background-color: #a9ddad;
}

#front-rotw .pane-title {
  margin-bottom: 0.8ex;
}

#front-rotw .node h2 {
  font-size: 130%;
}

.admin-panel h3 {
  margin-bottom: 1ex;
}

div.img,
.field-name-field-recipe-photo img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1ex;
}

div.img {
  text-align: center;
  padding: 1em;
  font-size: 80%;
}

div.img span {
  display: block;
}

textarea#edit-body-und-0-value {
  height: 15ex;
}

fieldset.filter-wrapper {
  display: none;
}

.show-format-widgets fieldset.filter-wrapper {
  display: block;
}
