body, #wrapper {
  background-color: #a9ddad;
}

#front-rotw .pane-title {
  margin-bottom: 0.8ex;
}

#front-rotw .node h2 {
  font-size: 130%;
}

.admin-panel h3 {
  margin-bottom: 1ex;
}

.field-name-body img,
.field-name-field-recipe-photo img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1ex;
}

textarea#edit-body-und-0-value {
  height: 15ex;
}
